[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Name=WhatsApp
GenericName=Unofficial WhatsApp client
GenericName[ru]=Неофициальный клиент WhatsApp
Comment=An unofficial WhatsApp linux client desktop application.
Comment[ru]=Неофициальный клиент WhatsApp Desktop для Linux.
Exec=whatsapp-for-linux
Icon=whatsapp-for-linux
Categories=GTK;GNOME;Network;
